<h1>Editing At Employee Note2</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @at_employee_note2, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', at_employee_note2s_path, class: "btn btn-default" %>

